<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chinaredstar.eating.mapper.UserMapper">

    <insert id="seveUser" parameterType="UserModel" useGeneratedKeys="true" keyProperty="id">
      INSERT INTO eating_user (name, gender) values (#{name}, #{gender})
    </insert>

    <insert id="seveUserFace" useGeneratedKeys="true" keyProperty="id">
      INSERT INTO eating_user (user_id, face_token) values (#{userId}, #{faceToken})
    </insert>

    <select id="findUserByFaceToken" parameterType="String" resultType="EmployeeModel">
        SELECT employee.employee_id, employee.name, employee.email, employee.gender, employee.DEPARTMENT_NAME FROM t_sync_esb_employee employee
        LEFT JOIN `eating_user_face` userFace ON userFace.user_id = employee.employee_id where face_token = #{faceToken}
    </select>

    <select id="findEmployeeByEmail" parameterType="String" resultType="EmployeeModel">
        select employee_id, name, email, gender, DEPARTMENT_NAME  from t_sync_esb_employee where email = #{email} and status = 'A'
    </select>

</mapper>