<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chinaredstar.eating.mapper.UserMapper">

    <insert id="seveUser" parameterType="UserModel" useGeneratedKeys="true" keyProperty="id">
      INSERT INTO eating_user (name, gender) values (#{name}, #{gender})
    </insert>

    <insert id="seveUserFace" useGeneratedKeys="true" keyProperty="id">
      INSERT INTO eating_user (user_id, face_token) values (#{userId}, #{faceToken})
    </insert>

    <select id="findUserByFaceToken" parameterType="String" resultType="UserModel">
        SELECT user.id, user.name, user.gender FROM eating_user user LEFT JOIN `eating_user_face` userFace ON userFace.user_id = user.id where face_token = #{faceToken}
    </select>

</mapper>