/* =======================================================
*
* 	Template Style 
*	Edit this section
*
* ======================================================= */
body {
  font-family: "Open Sans", Arial, sans-serif;
  line-height: 1.5;
  font-size: 16px;
  color: #848484;
  background-color: #f0f0f0;
}
body.style-2 {
  background-color: #ffffff;
  background-size: cover;
  background-position: -30% center;
  background-repeat: no-repeat;
  background-image: url(../images/bg_2.jpg);
  height: 100%;
}
body.style-3 {
  background: #ffffff url(../images/geometry2.png) repeat;
}

a {
  color: #555555;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
a:hover {
  color: #29a3a3;
}
.container{
  margin-top: 30px;
  min-height: 100vh;
}
#profile{
  margin-top: 40px;
}
.menu {
  padding:0;
  text-align: left;
  background-color:rgba(200, 200, 200, 0.2);
}
.menu li {
  padding: 0;
  height: 100%;
  list-style: none;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.menu li a {
  text-align: center;
  width: 250px;
  display: inline-block;
  height: 100%;
  padding: 6px;
  box-sizing: border-box;
}
.menu li.active a {
  color: #fff;
  transform: translate3d(-8px, 0px, 0px);
  transition: all 0.5s cubic-bezier(0.29, 1.42, 0.79, 1);
  background-color: #f44336;
  box-shadow: 0 16px 26px -10px rgba(244, 67, 54, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(244, 67, 54, 0.2);
}

.fh5co-form {
  padding: 30px;
  margin-top: 4em;
  -webkit-box-shadow: -4px 7px 46px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: -4px 7px 46px 2px rgba(0, 0, 0, 0.1);
  -o-box-shadow: -4px 7px 46px 2px rgba(0, 0, 0, 0.1);
  box-shadow: -4px 7px 46px 2px rgba(0, 0, 0, 0.1);
  background: #ffffff;
}
.style-2 .fh5co-form {
  -webkit-box-shadow: -4px 7px 46px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: -4px 7px 46px 2px rgba(0, 0, 0, 0.1);
  -o-box-shadow: -4px 7px 46px 2px rgba(0, 0, 0, 0.1);
  box-shadow: -4px 7px 46px 2px rgba(0, 0, 0, 0.1);
}
@media screen and (max-width: 768px) {
  .fh5co-form {
    padding: 15px;
  }
}
.fh5co-form h2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 20px;
  margin: 0 0 30px 0;
  color: #000000;
}
.fh5co-form .form-group {
  margin-bottom: 30px;
}
.fh5co-form .form-group p {
  font-size: 14px;
  color: #9f9f9f;
  font-weight: 300;
}
.fh5co-form .form-group p a {
  color: #000000;
}
.fh5co-form label {
  font-weight: 300;
  font-size: 14px;
  font-weight: 300;
}
.fh5co-form .form-control {
  font-size: 16px;
  font-weight: 300;
  height: 50px;
  padding-left: 0;
  padding-right: 0;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.fh5co-form .form-control::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
}
.fh5co-form .form-control::-moz-placeholder {
  color: rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
}
.fh5co-form .form-control:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
}
.copyrights{
	text-indent:-9999px;
	height:0;
	line-height:0;
	font-size:0;
	overflow:hidden;
}
.fh5co-form .form-control:-moz-placeholder {
  color: rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
}
.fh5co-form .form-control:focus, .fh5co-form .form-control:active {
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

.operation{
  margin-top: 10px;
}
.operation .btn-primary {
  height: 50px;
  padding-right: 20px;
  padding-left: 20px;
  border: none;
  width: 100%;
  background: #33cccc;
  color: #ffffff;
  -webkit-box-shadow: -2px 10px 20px -1px rgba(51, 204, 204, 0.4);
  -moz-box-shadow: -2px 10px 20px -1px rgba(51, 204, 204, 0.4);
  -o-box-shadow: -2px 10px 20px -1px rgba(51, 204, 204, 0.4);
  box-shadow: -2px 10px 20px -1px rgba(51, 204, 204, 0.4);
}
.operation .btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  color: #ffffff;
  background: #47d1d1 !important;
  outline: none;
}

input, textarea {
  color: #000;
}

.placeholder {
  color: #aaa;
}

.js .animate-box {
  opacity: 0;
}

/*# sourceMappingURL=style.css.map */

.camera-content {
  text-align: center;
  background-color: rgba(0,0,0,.01);
  margin: -30px -30px 30px -30px;
}
.camera-content #camera{
  width: 100px;
  height: 200px;
  display: inline-block;
  background: url(../images/camera.svg) no-repeat center center;
}

.radio{
  border-bottom: 1px solid rgba(0,0,0,.1);
}
.radio .tip{
  display: inline-block;
  width: 50px;
  height: 50px;
  font-weight: 300;
  color: rgba(85, 85, 85,.4);
  line-height: 50px;
}
.radio .btn-group, .btn-group-vertical{
  height: 50px;
  display: block;
  width: calc(100% - 50px);
  float: right;
}
.radio .btn-primary{
  background-color:transparent !important;
  border:none !important;
  box-shadow:none !important;
  color: #aaa;
  outline: none;
}
.radio .btn-primary.active{
  background-color:transparent !important;
  color: #33cccc;
  border:none !important;
  outline: none;
}
.radio .btn-primary:hover{
  background-color:transparent !important;
  color: #33cccc;
  border:none !important;
  outline: none;
}
.radio .btn-group>.btn:first-child:not(:last-child):not(.dropdown-toggle){
  width: calc((100% - 50px) / 2.0);
  height: 50px;
  line-height: 40px;
}
.radio .btn-group>.btn:last-child:not(:first-child), .radio  .btn-group>.dropdown-toggle:not(:first-child){
  width: calc((100% - 50px) / 2.0);
  height: 50px;
  line-height: 40px;
}
.radio .line{
  position: relative;
  float: left;
  color: rgba(0, 0, 0, 0.1);
  height: 50px;
  line-height: 50px;
}