<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>jQuery-webcam-js</title>
    <title>web RTC 测试</title>
    <style>
        .booth {
            width:400px;

            background:#ccc;
            border: 10px solid #ddd;
            margin: 0 auto;
        }
    </style>


    <script src="../js/jquery.min.js"></script>
    <script type="text/javascript" src="../js/jquery.facedetection.js"></script>

</head>
<body>

<div class="booth">
    <video id="video" width="800" height="600"></video>
    <button id='tack'> snap shot</button>
    <canvas id='canvas' width='600' height='400'></canvas>
    <canvas id='canvas2' style="display: none" width='800' height='600'></canvas>
    <!--<img id='img' src=''> </img>-->
</div>

<button id="btn">开始识别</button>
</body>
<script>
    var video = document.getElementById('video'),
            canvas = document.getElementById('canvas'),
            canvas2 = document.getElementById('canvas2'),
            snap = document.getElementById('tack'),
            img = document.getElementById('img'),
            vendorUrl = window.URL || window.webkitURL;

    //媒体对象
    navigator.getMedia = navigator.getUserMedia ||
            navagator.webkitGetUserMedia ||
            navigator.mozGetUserMedia ||
            navigator.msGetUserMedia;
    navigator.getMedia({
        video: true, //使用摄像头对象
        audio: false  //不适用音频
    }, function(strem){
        console.log(strem);
        video.src = vendorUrl.createObjectURL(strem);
        video.play();
    }, function(error) {
        //error.code
        console.log(error);
    });
    $('#tack').click(function () {
        canvas.getContext('2d').drawImage(video, 0, 0, 600, 400);
    });


    window.setTimeout(getpicture,1000);

    function getpicture() {
        canvas2.getContext('2d').drawImage(video, 0, 0, 600, 400);

        $('#canvas2').faceDetection({
            complete: function (faces) {

                if (faces.length == 0) { //说明没有检测到人脸
                    // alert("无人脸")
                    console.log('无人脸');
                    getpicture();
                } else {

                    for (var i in faces) {
                        draw(faces[i].x, faces[i].y, faces[i].width, faces[i].height);
                        // var leftTop = [faces[i].x, faces[i].y];
                        //     drawRectangle(leftTop, faces[i].width, faces[i].height);
                    }
                    console.log("有人脸");
                    canvas.getContext('2d').drawImage(video, 0, 0, 600, 400);

                }
            }
//            error: function (code, message) {
//                alert("complete回调函数出错")
//            }
        });


    }



    $('#btn').click(function () {
        $('#canvas').faceDetection({
            complete: function (faces) {

                if (faces.length == 0) { //说明没有检测到人脸
                    // alert("无人脸")
                    console.log('无人脸')
                } else {

                    for (var i in faces) {
                        draw(faces[i].x, faces[i].y, faces[i].width, faces[i].height);
                        // var leftTop = [faces[i].x, faces[i].y];
                        //     drawRectangle(leftTop, faces[i].width, faces[i].height);
                    }
                    console.log("有人脸")
                }
            }
        });

    });

</script>



</html>