<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>jQuery-webcam-js</title>
    <link href="../css/cs.css" rel="stylesheet" type="text/css"> </link>

</head>
<body>

<button class="play">拍照</button>
<div id="status"></div>
<div id="webcam"></div>

<canvas id="canvas"></canvas>

<img id="img" src="../images/test.png"> </img>

<button id="disti">开始识别</button>

</body>


<script src="../js/jquery.min.js"></script>

<script src="../webcam/jquery.webcam.js"></script>

<script src="../facedetection/jquery.facedetection.js"></script>

<script src="../js/photo.js"></script>

</html>